<% layout('layout/boilerplate') %>
<div class="container">

    <img src="/image/2.jpg" width="300" alt="">
    <h2>Admin Page</h2>
    <% for(let visitor of visitors)  {%>
        <li>
            <p>Visitor: <%= visitor.username %></p>
            <p>Email: <%=visitor.email  %></p>
            <p>Phone Number: <%=visitor.phoneNumber %></p>
            <button class="btn btn-info">Edit</button>
        </li>
        <br>
    <% } %>
    <button class="mb-4 btn btn-light"><a href="/login" style="text-decoration: none;">Back to Login</a></button>

    
</div>
