<% layout('layout/boilerplate') %>
<div class="container">
    <div class="row">
        <h2>Welcome <%=username  %></h2>
        <div class="col-6">
            <p class="text-center">This is centered text.</p>
        </div>
    </div>
    <button class="mb-4 btn btn-light"><a href="/login" style="text-decoration: none;">Back to Login</a></button>
</div>